:root {
  --vanilla-cream: #f0ead2;
  --tea-green: #dde5b6;
  --muted-olive: #adc178;
  --faded-copper: #a98467;
  --ash-brown: #6c584c;

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  background-color: var(--vanilla-cream);
  color: var(--ash-brown);
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

section {
  scroll-margin-top: 70px;
  padding-bottom: 1rem;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

h2 {
  font-size: var(--size-40);
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-size: var(--size-20);
  margin-bottom: 0;
}

p {
  font-size: var(--size-16);
}