<div class="w3-panel w3-theme-d3 w3-round-large"
    style="text-align: justify;">
    <div class="w3-panel w3-theme-d4 w3-round-large w3-center">
        <h3>{{ name }}</h3>
    </div>
    <div style="padding: 0 0 16px 0" class="w3-container">
        {% if img %}
        <img src="../{{ img }}" style="float: left; width: 400px; max-width: 100%; border-radius:20%;" class="w3-padding">
        {% endif %}
        {% if desc %}
        <div class="w3-padding">
            <span>
            {{ desc | safe }}
            </span>
        </div>
        {% endif %}
    </div>
</div>
